[project]
name = "uoft_{{name}}"
description = "{{description}}"
authors = [
    { name = "{{author_name}}", email = "{{author_email}}" },
    { name = "University of Toronto", email = "alex.tremblay@utoronto.ca" },
]
requires-python = ">=3.10"
readme = "README.md"
license = { text = "MIT" }
dynamic = ["version"]
dependencies = [
    "uoft_core"
]

[project.urls]
Repository = "https://github.com/uoft-networking/tools/tree/main/projects/{{name}}"

[project.scripts]
uoft-{{name}} = "uoft_{{name}}.cli:cli"

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[tool.pdm.version]
source = "scm"

[tool.pdm.build]
custom-hook = "pyproject.py"
includes = ["uoft_{{name}}"]
excludes = ["**/tests", "**/__pycache__"]
