invoke >= 1.7
build
pytest >= 7.0
pytest-cov
pytest-mock >= 3.6
pylint
mypy >= 0.971
typer-cli
mkdocs >= 1.4
mkdocstrings >= 0.19
mkdocs-material
black >= 22.3.0
tomlkit >= 0.11
setuptools_scm >= 7
ptpython >= 3.0
copier >= 7
git+https://github.com/alextremblay/pypi-command-line
