[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
utsc-core = {editable = true, path = "./projects/core"}
utsc-scripts = {editable = true, path = "./projects/scripts"}
utsc-nautobot = {editable = true, path = "./projects/nautobot"}
utsc-switchconfig = {editable = true, path = "./projects/switchconfig"}

[dev-packages]
build = "*"
pytest = "*"
mypy = "*"
flake8 = "*"
poethepoet = "*"
flake8-bugbear = "*"
pytest-cov = "*"
prospector = ">=1.5"
typer-cli = "*"
mkdocs = "*"
mkdocstrings = "*"
mkdocs-material = "*"
black = ">=22.3.0"
pytest-mock = ">=3.6"
tomlkit = "*"
hatch = "*"

[requires]
python_version = "3.10"
