uoft_python_cli(
    description = "{{description}}",
    author = "{{author_name}}",
    author_email = "{{author_email}}",
    license = "MIT",
    url = "https://github.com/uoft-networking/tools/tree/main/src/uoft/{{name}}/cli",
)