[build-system]
requires = ["hatchling >= 1.6.0"]
build-backend = "hatchling.build"

[tool.hatch.build]

[project]
name = "uoft_core"
version = "1.0.1"
description = "an opinionated set of utilities designed to be easily included in any number of projects"
readme = "README.md"
authors = [
  { name = "Alex Tremblay", email = "alex.tremblay@utoronto.ca" }, 
  { name = "University of Toronto Governing Council", email = "governing.council@utoronto.ca" }
]
license = "MIT"
requires-python = ">=3.10"

dependencies = [
  "loguru",
  "typer>=0.4.0",
  "rich",
  "requests >= 2.20.0",
]

[project.optional-dependencies]
all = [
  "pydantic >= 1.9",
  "jinja2 >= 3.0",
  "sentry-sdk >= 1.4",
  "semver",
  "pytest >= 6.0",
  "prompt-toolkit >= 3.0.0"
]
