from importlib.metadata import version

from uoft_core import BaseSettings, Field
from uoft_core.types import SecretStr

# All of our projects are distributed as packages, so we can use the importlib.metadata 
# module to get the version of the package.
__version__ = version(__package__) # type: ignore


class Settings(BaseSettings):
    """Settings for the {{name}} application."""

    # Here are some example settings fields, for demonstration purposes. 
    # Be sure to replace them with whatever configuration your application needs.
    example_1: str # Example of a required string
    example_2: str = Field(..., title="A required string") # Example of a required string with a title and description
    example_3: str|None = None # Example of an optional string
    example_4: SecretStr = Field(..., title="A required secret string") # Example of a required secret string
    example_5: list[str] = [] # Example of a required list of strings
    
    # class ExampleModel(BaseModel):
    #     """Example submodel."""
    #     example_submodel_field: str
    #     example_submodel_field2: bool = False
    # example_6: ExampleModel # Example of a required submodel
    # example_7: ExampleModel|None = None # Example of an optional submodel

    class Config(BaseSettings.Config):
        app_name = "{{name}}"
